
// --------------------------------------------------------
// Cards
// --------------------------------------------------------

.card {
  background: $color-white;
  border: 1px solid $color-wild-sand;
  box-shadow: 0 1px 1px 0 rgba($color-black, .1);
  border-radius: 3px;
  padding: 1.5rem;
  margin-bottom: 1.5rem;
  transition: box-shadow border .3s;
  max-height: 138px; // temporary value

  &:hover {
    cursor: pointer;
    border: 1px solid darken($color-wild-sand, .1);
    box-shadow: 0 1px 1px 0 rgba($color-black, .2);
  }

  p {
    color: $color-grey-mako;
  }
}
