
// --------------------------------------------------------
// Jumbotron
// --------------------------------------------------------

.jumbotron {
  background: $color-blue-indigo;
  color: $color-white;
  padding-top: 60px;
  padding-bottom: 60px;
}

.jumbotron-header {
  text-align: center;
  font-weight: normal;
  font-size: 2.5em;
  margin-bottom: 1.5em;
}
