
// --------------------------------------------------------
// Media (images, icons, etc)
// --------------------------------------------------------

// -------------------------
// Images
// -------------------------

.img-responsive {
  display: block;
  max-width: 100%;
}

.img-md {
  max-height: 150px;
  width: auto;
}

// -------------------------
// Icons
// -------------------------

.icon-sm {
  max-height: 27px;
  width: auto;
}
