
// --------------------------------------------------------
// Media (images, icons, etc)
// --------------------------------------------------------

// -------------------------
// Images
// -------------------------

.img-responsive {
  display: block;
  max-width: 100%;
}

.img-md {
  max-height: 150px;
  width: auto;
}

// -------------------------
// Icons
// -------------------------

.icon-inline {
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
}

.icon-sm {
  max-height: 24px;
  width: auto;
}

.icon-md {
  max-height: 27px;
  width: auto;
}
