
// --------------------------------------------------------
// Utilities
// --------------------------------------------------------

// -------------------------
// Typography
// -------------------------

.u-fontWeight--bold { font-weight: bold; }
.u-textAlign--center { text-align: center; }

// -------------------------
// Colors
// -------------------------

.u-color--white { color: $color-white; }
