
// --------------------------------------------------------
// Utilities
// --------------------------------------------------------

// -------------------------
// Typography
// -------------------------

.u-fontWeight--bold { font-weight: bold; }
.u-textAlign--center { text-align: center; }

// -------------------------
// Colors
// -------------------------

// ------------
// Text Colors
// ------------

.u-color--white { color: $color-white; }

// ------------
// Background Colors
// ------------

.u-bg--wild-sand { background: $color-wild-sand; }
.u-bg--alabaster { background: $color-alabaster; }

// -------------------------
// Layout
// -------------------------

.u-margin--auto {
  margin-left: auto;
  margin-right: auto;
}
