
// --------------------------------------------------------
// Variables
// --------------------------------------------------------

// -------------------------
// Colors
// -------------------------

$color-white: #fff;
$color-wild-sand: #f5f5f5;
$color-blue-indigo: #4078C0;



// -------------------------
// Typography
// -------------------------


// -------------------------
// Spacing
// -------------------------
